tuoicaytudong.json
[
    {
        "id": "0e78bdfeceb054f5",
        "type": "tab",
        "label": "Hệ Thống Tưới Cây",
        "disabled": false,
        "info": ""
    },
    {
        "id": "35464072f6e90ee1",
        "type": "mqtt in",
        "z": "0e78bdfeceb054f5",
        "name": "Nhận Dữ Liệu Sensor",
        "topic": "/iot/plant/sensor",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8b4efe2e45706f33",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 180,
        "wires": [
            [
                "7f0c96036c8fee2a",
                "570b574b183a44e2",
                "22b0dcddb3c89746"
            ]
        ]
    },
    {
        "id": "7f0c96036c8fee2a",
        "type": "function",
        "z": "0e78bdfeceb054f5",
        "name": "Tách Dữ Liệu ",
        "func": "let msg_temp = { payload: msg.payload.temperature };\nlet msg_hum = { payload: msg.payload.humidity };\nlet msg_soil = { payload: msg.payload.soil_moisture };\n\nreturn [msg_temp, msg_hum, msg_soil];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 180,
        "wires": [
            [
                "c9a7f5d6b0b36625",
                "7d6406950a1f6320"
            ],
            [
                "ee004617d39b3625",
                "5eef8bb0dbefa193"
            ],
            [
                "f85b7d54432e86b8",
                "43b7fe06ec6ade10"
            ]
        ]
    },
    {
        "id": "3496e4aca7c9e0f3",
        "type": "function",
        "z": "0e78bdfeceb054f5",
        "name": "Kiểm tra & Cảnh báo Email",
        "func": "let tempValue = Number(msg.payload.temperature);\nlet humValue  = Number(msg.payload.humidity);\nlet soilValue = Number(msg.payload.soil_moisture); \n\nlet tempString = tempValue.toFixed(1);\nlet humString  = humValue.toFixed(1);\n\nlet lastSent = flow.get(\"lastSentMail\") || 0;\nlet now = Date.now();\n\nlet TEMP_HIGH = 35; // Ngưỡng nhiệt độ cao\nlet SOIL_LOW  = 30; // Ngưỡng đất khô\n\n// So sánh bằng giá trị số thực tế\nlet isTooHot = tempValue >= TEMP_HIGH;\nlet isTooDry = soilValue <= SOIL_LOW;\n\nif ((isTooHot || isTooDry) && (now - lastSent > 600000)) {\n    flow.set(\"lastSentMail\", now);\n    let alertReason = \"\";\n    \n    if (isTooHot && isTooDry) {\n        alertReason = \"Trời CỰC KỲ NÓNG và ĐẤT RẤT KHÔ!\";\n    } else if (isTooHot) {\n        alertReason = \"Nhiệt độ QUÁ CAO! Nguy cơ héo lá!\";\n    } else if (isTooDry) {\n        alertReason = \"Đất RẤT KHÔ! Vui lòng kiểm tra máy bơm!\";\n    }\n    \n    let newMsg = {};\n    newMsg.topic = \"🚨 CẢNH BÁO VƯỜN 🚨\";\n    newMsg.payload = `CẢNH BÁO HỆ THỐNG TƯỚI CÂY TỰ ĐỘNG!\\n\\n` +\n                     `Nguyên nhân: ${alertReason}\\n\\n` +\n                     `THÔNG SỐ HIỆN TẠI:\\n` +\n                     `- Nhiệt độ không khí: ${tempString}°C\\n` +\n                     `- Độ ẩm không khí: ${humString}%\\n` +\n                     `- Độ ẩm đất: ${soilValue}%\\n\\n` +\n                     `Ra vườn kiểm tra nhé!`;\n                     \n    return newMsg; \n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 40,
        "wires": [
            [
                "08eed087ca744b61"
            ]
        ]
    },
    {
        "id": "570b574b183a44e2",
        "type": "debug",
        "z": "0e78bdfeceb054f5",
        "name": "Xem Data Nhận",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "c9a7f5d6b0b36625",
        "type": "ui_gauge",
        "z": "0e78bdfeceb054f5",
        "name": "Đồng hồ Nhiệt độ",
        "group": "grp_gauges",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nhiệt độ Môi trường",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "45",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "7d6406950a1f6320",
        "type": "ui_chart",
        "z": "0e78bdfeceb054f5",
        "name": "Biểu đồ nhiệt độ",
        "group": "grp_charts",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lịch sử Nhiệt độ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ca3838",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ee004617d39b3625",
        "type": "ui_gauge",
        "z": "0e78bdfeceb054f5",
        "name": "Đồng hồ Độ ẩm",
        "group": "grp_gauges",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Độ ẩm Không khí",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#1f77b4",
            "#1f77b4"
        ],
        "seg1": "40",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "5eef8bb0dbefa193",
        "type": "ui_chart",
        "z": "0e78bdfeceb054f5",
        "name": "Biểu đồ độ ẩm",
        "group": "grp_charts",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Lịch sử Độ ẩm KK",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "f85b7d54432e86b8",
        "type": "ui_gauge",
        "z": "0e78bdfeceb054f5",
        "name": "Đồng hồ Độ ẩm đất",
        "group": "grp_gauges",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Độ Ẩm Đất",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "43b7fe06ec6ade10",
        "type": "ui_chart",
        "z": "0e78bdfeceb054f5",
        "name": "Biểu đồ độ ẩm đất",
        "group": "grp_charts",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Lịch sử Độ Ẩm Đất",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "6616ffd096b6c91b",
        "type": "ui_button",
        "z": "0e78bdfeceb054f5",
        "name": "",
        "group": "grp_ctrl",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Chạy Tự Động (Auto)",
        "tooltip": "",
        "color": "white",
        "bgcolor": "#607d8b",
        "className": "",
        "icon": "",
        "payload": "auto",
        "payloadType": "str",
        "topic": "/iot/plant/cmd",
        "topicType": "str",
        "x": 240,
        "y": 480,
        "wires": [
            [
                "6315ce5755d25dca"
            ]
        ]
    },
    {
        "id": "08e68ebbc616baf7",
        "type": "ui_button",
        "z": "0e78bdfeceb054f5",
        "name": "",
        "group": "grp_ctrl",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tưới Mạnh",
        "tooltip": "",
        "color": "white",
        "bgcolor": "#d32f2f",
        "className": "",
        "icon": "",
        "payload": "strong",
        "payloadType": "str",
        "topic": "/iot/plant/cmd",
        "topicType": "str",
        "x": 220,
        "y": 540,
        "wires": [
            [
                "6315ce5755d25dca"
            ]
        ]
    },
    {
        "id": "6d0de0d968ed33a7",
        "type": "ui_button",
        "z": "0e78bdfeceb054f5",
        "name": "",
        "group": "grp_ctrl",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tưới Vừa",
        "tooltip": "",
        "color": "black",
        "bgcolor": "#fbc02d",
        "className": "",
        "icon": "",
        "payload": "medium",
        "payloadType": "str",
        "topic": "/iot/plant/cmd",
        "topicType": "str",
        "x": 220,
        "y": 600,
        "wires": [
            [
                "6315ce5755d25dca"
            ]
        ]
    },
    {
        "id": "afa3253347ca131e",
        "type": "ui_button",
        "z": "0e78bdfeceb054f5",
        "name": "",
        "group": "grp_ctrl",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Phun Sương",
        "tooltip": "",
        "color": "white",
        "bgcolor": "#388e3c",
        "className": "",
        "icon": "",
        "payload": "mist",
        "payloadType": "str",
        "topic": "/iot/plant/cmd",
        "topicType": "str",
        "x": 230,
        "y": 660,
        "wires": [
            [
                "6315ce5755d25dca"
            ]
        ]
    },
    {
        "id": "aa89a0c7958e483d",
        "type": "ui_button",
        "z": "0e78bdfeceb054f5",
        "name": "",
        "group": "grp_ctrl",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tắt Nước (Dừng)",
        "tooltip": "",
        "color": "white",
        "bgcolor": "#1976d2",
        "className": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "/iot/plant/cmd",
        "topicType": "str",
        "x": 240,
        "y": 720,
        "wires": [
            [
                "6315ce5755d25dca"
            ]
        ]
    },
    {
        "id": "6315ce5755d25dca",
        "type": "mqtt out",
        "z": "0e78bdfeceb054f5",
        "name": "Gửi Lệnh Về ESP32",
        "topic": "/iot/plant/cmd",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8b4efe2e45706f33",
        "x": 550,
        "y": 600,
        "wires": []
    },
    {
        "id": "08eed087ca744b61",
        "type": "e-mail",
        "z": "0e78bdfeceb054f5",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "22t1020218@husc.edu.vn",
        "dname": "Gửi tin nhắn đến email",
        "x": 1220,
        "y": 40,
        "wires": []
    },
    {
        "id": "22b0dcddb3c89746",
        "type": "json",
        "z": "0e78bdfeceb054f5",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 510,
        "y": 40,
        "wires": [
            [
                "3496e4aca7c9e0f3"
            ]
        ]
    },
    {
        "id": "8b4efe2e45706f33",
        "type": "mqtt-broker",
        "name": "MQTT_Broker1",
        "broker": "f2540aa0e271430db9c46a1dc250f86e.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "grp_gauges",
        "type": "ui_group",
        "name": "Đồng Hồ Cảm Biến",
        "tab": "tab_main",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "grp_charts",
        "type": "ui_group",
        "name": "Biểu Đồ Lịch Sử",
        "tab": "tab_main",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "grp_ctrl",
        "type": "ui_group",
        "name": "Điều Khiển Bơm Nước",
        "tab": "tab_main",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "tab_main",
        "type": "ui_tab",
        "name": "Quản Lý Vườn Thông Minh",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "09ed8db2f1965b6c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-email": "5.2.1"
        }
    }
]